.bottom-image img{
    vertical-align:bottom;
}

head {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: src="/Users/noah/CapFlaskTemplate/app/templates/Users/noah/Downloads/img/pink-flowers.png" repeat 0 0;

}

h1 {
    text-decoration-line: underline;
    color: black;
}

.table {
    border: 1px solid;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
